.app_container {
  background-color: #282c34;
  min-height: 100vh;
}
.navigation_container {
  box-shadow: 0 0px 17px 8px rgba(0, 0, 0, 0.07);
  z-index: 4;
}
.content_container {
  background-color: #fff;
}
